<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SPSCHEMA" value="MRSSI"/>
  <add key="DB2Schema" value="MRSSI"/>
  <add key="LogFilePath" value="C:\Logs\PathToSiteReports\"/>
  <add key="ITAdvertising" value="Murugesan.Venkatasubramanian@bonton.com"/>
  <add key="FromEmailAddress" value="ITAdv_Marketing@bonton.com"/>
  <add key="ReportPath" value ="C:\Users\034846\Documents\Visual Studio 2013\Projects\PathToSiteReports\Reports\"/>
  <add key="ReportReceipients" value="Murugesan.Venkatasubramanian@bonton.com,Murugesan.Venkatasubramanian@bonton.com"/>
  <add key="AtStudioDays" value="7"/>
  <add key="InImageProductionDays" value="14"/>
  <add key="SampleDueDateDays" value="84"/>
  <add key="SKUDetailReportPath" value="\\internal.bonton.com\york\Group\TurnInAutomation\Path_To_Site_Reports\QA\"/>
</appSettings>
