<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="SQLServer" connectionString="Server=M055-SQL-1T;Initial Catalog=DBADVPROD;User ID=INFORMIX;Password=INFORMIX;Persist Security Info=True" providerName=""/>
  <add name="DB2Connect" connectionString="Server=gateway.db.test.bonton.com:6100;Database=TEST;UID=CSTUTRNQ;PWD=klu$#92z;Persist Security Info=True" providerName=""/>
  <add name="VirtualTicketSQLServer" connectionString="Data Source=virtualticket.sqldb.prod.bonton.com;Initial Catalog=CPS;Persist Security Info=True;User ID=csavvtkp;password=p9@56yT_x;" providerName="System.Data.SqlClient"/>
</connectionStrings>
