<div class="modal-body" ng-show="isShowModal">
    <h4 class="modal-title">Signing In . . .</h4>
</div>
<div class="modal-footer" ng-show="isShowModal">
    <div class="row clearfix">
        <div class="col-sm-6">
            <button ng-click="switchUser()" class="btn btn-warning btn-block" type="button">Switch User</button>
        </div>
        <div class="col-sm-6">
            <button ng-click="exit()" class="btn btn-danger btn-block" type="button">Exit Lufi</button>
        </div>
    </div>
</div>