<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SPSCHEMA" value="TC"/>
  <add key="DB2Schema" value="MRSSI"/>
  <add key="DefaultPOShipDays" value="56"/>
  <add key="LogFilePath" value="C:\Enhancements\Logs"/>
  <add key="DefaultValuesConfigurationFileName" value ="Configuration\TEST\TurnInDefaultValues.xml"/>
  <add key="AdNumDays" value="1"/>
  <add key="DeleteOldLogFilesThreshold" value="30"/>
</appSettings>
