<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="MIOTransferPath" value="C:\Logs\"/>
  <add key="DB2Schema" value="MRSSI"/>
  <add key="SPSCHEMA" value="MRSSI"/>
  <add key="recordThreshold" value="1500"/>
  <add key="LogPath" value="C:\Logs\GenerateTransferFileToMIO\"/>
  <add key="Server" value="wmq.test.bonton.com"/>
  <add key="Port" value="5078"/>
  <add key="Channel" value="APPL.DW.WEB.CHANNEL"/>
  <add key="QueueName" value="APPL.DW.XFER.REQUEST.WEB.INBOUND.QUEUE"/>
</appSettings>


