<div class="row">
    <div class="col-sm-5 col-sm-offset-1 backgroundLtGray backgroundLtGrayBox" style="min-height:180px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="textBold">
                    Packing Receipt Printing
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <div class="skinnyMarginVert">
                    {{batchLength}} Shipment{{(batchLength == "1")? "" :"s" }} Pending Receipt Generation
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <button class="btn btn-default btn-block skinnyMarginVert" ng-click="printPendingReceipts('Receipt')" ng-disabled="isPrintingPackReceipts">Print Packing Receipts</button>
            </div>
        </div>
    </div>
    <div class="col-sm-5 backgroundLtGray backgroundLtGrayBox" style="min-height:180px;margin-left:15px">
        <div class="row">
            <div class="col-sm-12">
                <div class="textBold">
                    Customer Pick-Up
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <form ng-submit="openOrder()">
                <div class="col-sm-8 skinnyMarginVert">
                    <input name="orderNo" ng-model="formInput.orderNo" ng-keypress="numberValidator(event)" type="text" placeholder="Scan or Enter Receipt Barcode" class="form-control" id="scanReceipt" bt-focus="true" maxlength="20" />
                    <input type="submit" style="display:none" />
                </div>
                <div class="col-sm-3 skinnyMarginVert">
                    <button class=" btn btn-default btn-block"> Go </button>
                </div>
            </form>
       </div>
        <div class="row clearfix">
            <div class="col-sm-6 column">
                <br />
                <button class="btn btn-default" ng-click="navigateToOrderSearchPage()">Manual Order Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row margintop100">
    <div class="col-sm-3">
        <button ng-click="navigateToBopisBackupPick()" class="btn btn-default btn-block" ng-disabled="isCheckOutButtonDisabled">Alternate Pick / Pack</button>
    </div>
</div>
<!--<div class="row clearfix">
    <div id="wrapper" iscroll class="col-sm-12 column" style="overflow-y: hidden;max-height:320px;min-height:90px;position:relative">
        <table ng-table="tableParams" class="table table-striped">
            <tr ng-repeat="shipment in $data">
                <td iscrolltap="openOrderDetail(shipment.ShipmentLines.ShipmentLine[0]._OrderNo)" data-title="'Order Number'" sortable="'_orderNumber'" ng-class=" {'sorted': params.sorting()['_orderNumber']}">
                    <a href=""> {{shipment.ShipmentLines.ShipmentLine[0]._OrderNo}} </a>
                </td>
                <td data-title="'Customer Name'" sortable="'_customerName'" ng-class=" {'sorted': params.sorting()['_customerName']}">
                    {{shipment._customerName}}
                </td>
       <td data-title="'Quantity'" sortable="'_totalQuantity'" ng-class=" {'sorted': params.sorting()['_totalQuantity']}">
                    {{shipment._totalQuantity}}
                </td>
            </tr>
        </table>
    </div>
</div>-->
