<?xml version="1.0"?>
<appSettings>
  <!--Added to increase the viewstate memory-->
  <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
  <!-- RTS DAL configuration settings -->
  <add key="Environment" value="TEST"/>
  <add key="DBSchema" value="informix"/>
  <add key="DB2Schema" value="MRSSI"/>
  <add key="SPSCHEMA" value="TC"/>
  <add key="SSRS_UID" value="CSTUWEBQ"/>
  <add key="SSRS_PWD" value="tT4292$aq"/>
  <add key="SSRS_Domain" value="internal"/>
  <add key="SSRS_URL" value="http://ssrs2.qa.bonton.com/ReportServer"/>
  <add key="SSRS_Path" value="/Turn In Reports/eComm TI Report"/>
  <add key="ValidationMessageFilePath" value="~/App_Data/ValidationMessages.xml"/>
  <add key="AdNumDays" value="-700"/>

  <add key="Server" value="wmq.test.bonton.com"/>
  <add key="Port" value="5078"/>
  <add key="Channel" value="APPL.DW.WEB.CHANNEL"/>
  <add key="QueueName" value="APPL.SS.MERCH.CREATE.WEB.INBOUND.QUEUE"/>
  <add key="CFGDefaultStartShipDays" value="56"/>

</appSettings>