<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SPSCHEMA" value="MRSPC"/>
  <add key="DB2Schema" value="MRSPC"/>
  <add key="DefaultPOShipDays" value="56"/>
  <add key="LogFilePath" value="C:\Logs\TurnInAutomationBatch\"/>
  <add key="DeleteOldLogFilesThreshold" value="30"/>  
  <add key="EnableTIADepartmentsKey" value="ENABLE_TIA_BY_DEPT"/>
  <add key="IncludeWebEligibleItems" value="Y"/>
  <add key="TIAReportingDay" value="Sunday"/>
  <add key="EMS" value="eCommerceMerchSpecialist@bonton.com"/>
  <add key="CMR" value="cmr@bonton.com"/>
  <add key="Supervisors" value="Laura.Stier@bonton.com,Gena.Davis@bonton.com,Dawne.Aldermane@bonton.com,Kelsey.Morrison@bonton.com,Amy.VanDalen@bonton.com,Pam.Lardinois@bonton.com"/>
  <add key="ITAdvertising" value="ITAdv_Marketing@bonton.com"/>
  <add key="FromEmailAddress" value="ITAdv_Marketing@bonton.com"/>
  <add key="NoEligibleItemsReceipients" value="Laura.Stier@bonton.com,Gena.Davis@bonton.com"/>
  <add key="NoFinalImageReportPOShipDays" value="90"/>
  <add key="JobCompletionEmailReceipients" value="ITAdv_Marketing@bonton.com,Laura.Stier@bonton.com,Colleen.Eimers@bonton.com"/>
  <add key="VendorImageExcelPath" value="\\internal.bonton.com\mke\group\itpublic\TurnIn_VendorImage_Upload\PROD\"/>
  <add key="VendorImageExcelPath" value="\\internal.bonton.com\york\Group\TurnInAutomation\No_Merch_Upload\PROD\"/>
  <add key="ImportSpreadsheetReceipients" value="ITAdv_Marketing@bonton.com"/>
  <add key="OOARPOShipDays" value="63"/>
  <add key="AutoTurnInNextWeekPOShipDays" value="70"/>
  <add key="BuyerLevelOOARReportReceipients" value="Tracy.Novasic@bonton.com,Murugesan.Venkatasubramanian@bonton.com"/>
</appSettings>
