    <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseColor" ng-click="refreshScroll('FacetColorWrapper')">
    <h4 class="panel-title">
        <a ng-click="refreshScroll('FacetColorWrapper')" class="collapsed" data-toggle="collapse" target="_self" data-parent="#accordion" href="#collapseColor" aria-expanded="false" aria-controls="collapseTwo">
            <span>Color</span>
            <span ng-show="selectedColors.length>0" class="glyphicon glyphicon-ok facetSelectionColor" aria-hidden="true"></span>

        </a>
    </h4>
</div>
    <div id="collapseColor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <div class="facetWrapper" id="FacetColorWrapper">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr ng-repeat="color in response.colors" on-finish-render="refreshScroll('FacetColorWrapper')">
                            <td>
                                <div class="col col-sm-8">

                                    <button ng-click="facetItemClicket(selectedColors,color,'color')" class="btn-block btn"><span ng-show="itemExist(selectedColors,color)" class="glyphicon glyphicon-ok facetSelectionColor" aria-hidden="true"></span>{{color.name}}</button>
                                </div>
                                <div class="col col-sm-4">
                                    <span class="badge pull-right">{{color.count | number }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
