<?xml version="1.0"?>
<appSettings>
  <!--Added to increase the viewstate memory-->
  <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
  <!-- RTS DAL configuration settings -->
  <add key="Environment" value="PROD"/>
  <add key="DBSchema" value="informix"/>
  <add key="DB2Schema" value="MRSPC"/>
  <add key="SPSCHEMA" value="MRSPC"/>
  <add key="SSRS_UID" value="CSTUWEBP"/>
  <add key="SSRS_PWD" value="d8J43(($"/>
  <add key="SSRS_Domain" value="internal"/>
  <add key="SSRS_URL" value="http://ssrs2.internal.bonton.com/ReportServer"/>
  <add key="SSRS_Path" value="/Turn In Reports/eComm_TI_Report"/>
  <add key="ValidationMessageFilePath" value="~/App_Data/ValidationMessages.xml"/>
  <add key="AdNumDays" value="-30"/>
  <add key="Server" value="wmq.prod.bonton.com"/>
  <add key="Port" value="5075"/>
  <add key="Channel" value="APPL.TU.WH.CHANNEL"/>
  <add key="QueueName" value="APPL.SS.MERCH.CREATE.WEB.INBOUND.QUEUE"/>
  <add key="CFGDefaultStartShipDays" value="56"/>  
</appSettings>