<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.2" targetFramework="net451" />
  <package id="EntityFramework.IBM.DB2" version="6.0.5" targetFramework="net451" />
  <package id="Excel-DNA.Interop" version="14.0.1" targetFramework="net451" />
</packages>