<div class="modal-header">
    <h4 class="modal-title">Delete Item</h4>
</div>
<div class="modal-body">
    Do you wish to delete this item ?
</div>
<div class="modal-footer">
    <div class="row clearfix">
        <div class="col-sm-6 column">
        </div>
        <div class="col-sm-3 column">
            <button class="btn btn-danger btn-block" ng-click="yes()" type="button">Yes</button>
        </div>
        <div class="col-sm-3 column">
            <button ng-click="no()" class="btn btn-success btn-block" type="button">No</button>
        </div>
    </div>
</div>