<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAd" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://avservices.qa.bonton.com/AdChangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAd"
                contract="AdUpdates.IAd" name="BasicHttpBinding_IAd" />
        </client>
    </system.serviceModel>
</configuration>